<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Servi&ccedil;os</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2 text-center">
        <p><i class="fa fa-fw fa-chevron-right"></i>Design de Sobrancelhas <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#servicoModal0"><i class="fa fa-plus-square-o"></i></button></p>
        <p><i class="fa fa-fw fa-chevron-right"></i>Colora&ccedil;&atilde;o de Sobrancelhas <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#servicoModal4"><i class="fa fa-plus-square-o"></i></button></p>
        <p><i class="fa fa-fw fa-chevron-right"></i>Alisamento de Sobrancelhas <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#servicoModal5"><i class="fa fa-plus-square-o"></i></button></p>
      </div>
      <div class="col-lg-4 text-center">
        <p><i class="fa fa-fw fa-chevron-right"></i>Permanente e Colora&ccedil;&atilde;o de C&iacute;lios <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#servicoModal1"><i class="fa fa-plus-square-o"></i></button></p>
        <p><i class="fa fa-fw fa-chevron-right"></i>Alongamento de C&iacute;lios Fio a Fio <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#servicoModal2"><i class="fa fa-plus-square-o"></i></button></p>
        <p><i class="fa fa-fw fa-chevron-right"></i>Depila&ccedil;&atilde;o Bu&ccedil;o <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#servicoModal3"><i class="fa fa-plus-square-o"></i></button></p>
      </div>
    </div>
  </div>
</section>

<div class="portfolio-modal modal fade" id="servicoModal0" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h3>Design de Sobrancelhas</h3>
            <hr class="star-primary">
            <p>No design de sobrancelhas, utilizamos uma técnica inovadora onde medimos com precisão as medidas exatas da face. Com o auxílio do paquímetro, medimos olhos, boca e analisamos o formato do rosto. Assim conseguimos calcular o modelo ideal para cada pessoa.</p>
            <h4>QUAIS OS BENEFÍCIOS DE UTILIZAR O TRABALHO DE UMA DESIGNER DE SOBRANCELHAS?</h4>
            <p>A finalidade de um design é embelezar, transformar e corrigir o que está imperfeito, assim deixando uma face bonita e harmoniosa, pois a sobrancelha é considerada a moldura do rosto.</p>
            <h4>INDICAÇÕES</h4>
            <p>A retirada de sobrancelhas por uma designer profissional é bastante indicada para aquelas pessoas que nunca retiraram as sobrancelhas, pessoas com o formato das sobrancelhas inadequados, ou apenas para manter o formato bonito e harmonioso. O design de sobrancelhas não é um trabalho tão simples, deve ser feito de maneira adequada e segura.</p>
            <h4>MATERIAL UTILIZADO</h4>
            <p>Para sua segurança, trabalhamos com materiais descartáveis, pinças e tesouras esterilizadas em autoclave, embaladas individualmente para cada uso.</p>
            <h4>DURAÇÃO DA SESSÃO</h4>
            <p>A sessão dura em média de 30 a 40 minutos.</p>
            <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Voltar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="portfolio-modal modal fade" id="servicoModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h3>Permanente e Colora&ccedil;&atilde;o de C&iacute;lios</h3>
            <hr class="star-primary">
            <p>Com essa técnica, é possível acentuar a curvatura natural dos cílios, proporcionando assim uma maior expressividade e luminosidade ao olhar, além de realçar a aparência do rosto.</p>
            <p>O permanente de cílios é indicado para pessoas que têm fios longos e retos, quando não se tem a curvatura boa dos cílios.</p>
            <p>O permanente e a coloração não aumenta os cílios, mas como acentua a curvatura e a cor, promove o efeito de cílios maiores.</p>
            <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Voltar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="portfolio-modal modal fade" id="servicoModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h3>Alongamento de C&iacute;lios Fio a Fio</h3>
            <hr class="star-primary">
            <p>A técnica de alongar os cílios consiste em um procedimento que cola fio a fio novos pelinhos sobre os que você já tem. A intenção, é dar mais volume ou aumentar o tamanho natural dos cílios, assim você dispensa todo o trabalho que tem de colocar cílios postiços diariamente. Os cílios que utilizamos nesta técnica são de seda, e se aproximam muito ao que já temos, resultando em um trabalho delicado e natural.</p>
            <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Voltar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="portfolio-modal modal fade" id="servicoModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h3>Depila&ccedil;&atilde;o Bu&ccedil;o com Linha</h3>
            <hr class="star-primary">
            <h4>As vantagens do uso da linha na hora de depilar são muitas</h4>
            <p><i class="fa fa-fw fa-chevron-right"></i>É um método higiênico</p>
            <p><i class="fa fa-fw fa-chevron-right"></i>Pode ser feito por qualquer pessoa independente se ela faz uso de produtos químicos na pele ou se acabou de fazer um peeling facial</p>
            <p><i class="fa fa-fw fa-chevron-right"></i>Pode ser feito por mulheres que acabaram de se bronzear</p>
            <p><i class="fa fa-fw fa-chevron-right"></i>A linha não dá alergia</p>
            <p><i class="fa fa-fw fa-chevron-right"></i>Preserva a queratina natural da pele</p>
            <p><i class="fa fa-fw fa-chevron-right"></i>Diminui a produção de pelo na região depilada</p>
            <p><i class="fa fa-fw fa-chevron-right"></i>Evita a flacidez gerada pela cera</p>
            <p><i class="fa fa-fw fa-chevron-right"></i>Consegue retirar os pelos lanugem, aquela penugem bem fininha que temos no rosto</p>
            <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Voltar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="portfolio-modal modal fade" id="servicoModal4" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h3>Colora&ccedil;&atilde;o de Sobrancelhas</h3>
            <hr class="star-primary">
            <p>Trabalhamos com uma coloração importada, destinada exclusivamente a coloração de sobrancelhas e cílios.</p>
            <p>A coloração é indicada para quem tem pelos brancos, muito claros e ralos. Ela colore os pelos, aparentando mais volume e naturalidade as sobrancelhas.</p>
            <p>A durabilidade da coloração de sobrancelhas é de 30 a 40 dias.</p>
            <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Voltar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="portfolio-modal modal fade" id="servicoModal5" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h3>Alisamento de Sobrancelhas</h3>
            <hr class="star-primary">
            <p>Essa é uma técnica indicada para quem possui sobrancelhas com fios ondulados ou encaracolados, e que não se ajeitam, deixando o formato das sobrancelhas desalinhado.</p>
            <p>O procedimento também é indicado para quem tem fios que nascem em sentido contrário, e para quem tem fios grossos e rebeldes.</p>
            <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Voltar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
