<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>Studio Ma&iacute;sa Lima na Web</h3>
          <ul class="list-inline">
            <li>
              <a href="https://www.facebook.com/studiomaisalima" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
            </li>
            <li>
              <a href="https://www.instagram.com/studiomaisalima/" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
            </li>
          </ul>
        </div>
        <div class="footer-col col-md-4">
          <h3>Endere&ccedil;o</h3>
          <p>Rua Padre Chico, 221 - Conj. 413<br>Perdizes - S&atilde;o Paulo - SP</p>
          <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#mapaModal"><i class="fa fa-map-marker"></i> Mapa</button>
        </div>
        <div class="footer-col col-md-4">
          <h3>Telefone</h3>
          <p><i class="fa fa-fw fa-whatsapp"></i>(11)96632-0233</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">Copyright &copy; Studio Ma&iacute;sa Lima 2017</div>
      </div>
    </div>
  </div>
</footer>

<div class="portfolio-modal modal fade" id="mapaModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Localiza&ccedil;&atilde;o</h2>
            <hr class="star-primary">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.0575122597747!2d-46.68412138502288!3d-23.530433784698214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce57e36e4c67c7%3A0x178aa680407d8bc1!2sR.+Padre+Chico%2C+221+-+Perdizes%2C+S%C3%A3o+Paulo+-+SP%2C+05008-010!5e0!3m2!1spt-BR!2sbr!4v1496020359050" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            <br/>
            <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Voltar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
