<section class="success" id="curso">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Curso</h2>
        <span class="skills">Curso Design de Sobrancelhas e Simetria Facial</span>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>Neste curso, o aluno terá acesso a técnicas especiais que visam harmonizar, suavizar, e embelezar os traços do rosto. Aprendendo a desenhar as sobrancelhas, com o auxílio do paquímetro, utilizando a técnica de medição usada pelos cirurgiões plásticos.</p>
        <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#cursoModal"><i class="fa fa-plus-square-o"></i> Detalhes</button>
      </div>
    </div>
  </div>
</section>

<div class="portfolio-modal modal fade" id="cursoModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Curso</h2>
            <span class="skills">Curso Design de Sobrancelhas e Simetria Facial</span>
            <hr class="star-primary">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>Temas abordados no curso:</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-lg-offset-2 text-center">
                <p><i class="fa fa-fw fa-chevron-right"></i>Design, angulação, proporção, medidas e formatos que valorizam diferentes tipos de rostos</p>
              </div>
              <div class="col-lg-4 text-center">
                <p><i class="fa fa-fw fa-chevron-right"></i>Instrução para o uso correto do paquímetro (instrumento de medição)</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-lg-offset-2 text-center">
                <p><i class="fa fa-fw fa-chevron-right"></i>Correção no formato das sobrancelhas</p>
              </div>
              <div class="col-lg-4 text-center">
                <p><i class="fa fa-fw fa-chevron-right"></i>Biossegurança, higiene e material descartável</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-lg-offset-2 text-center">
                <p><i class="fa fa-fw fa-chevron-right"></i>Exercícios com diversos formatos de rosto em desenhos</p>
              </div>
              <div class="col-lg-4 text-center">
                <p><i class="fa fa-fw fa-chevron-right"></i>Ficha de avaliação do cliente</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-lg-offset-2 text-center">
                <p><i class="fa fa-fw fa-chevron-right"></i>Depilação das sobrancelhas com pinça</p>
              </div>
              <div class="col-lg-4 text-center">
                <p><i class="fa fa-fw fa-chevron-right"></i>Corte correto dos pelos e uso do aparador</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-lg-offset-2 text-center">
                <p><i class="fa fa-fw fa-chevron-right"></i>Preparo e aplicação de coloração para sobrancelhas</p>
              </div>
              <div class="col-lg-4 text-center">
                <p><i class="fa fa-fw fa-chevron-right"></i>Dicas de custos para os serviços de design e aplicação de coloração de sobrancelhas</p>
              </div>
            </div>
            <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Voltar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
