<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Ma&iacute;sa Lima</h2>
        <span class="skills">Designer de Sobrancelhas e C&iacute;lios</span><br/>
        <span class="skills">Instrutora do Curso Design de Sobrancelhas e Simetria Facial</span>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Pedagoga por forma&ccedil;&atilde;o, atua na área de beleza há mais de 6 anos. Começou em 2009 à frente do Instituto Marissa's, onde seguiu até 2015, neste ano ela decidiu se dedicar somente a sua paixão: Sobrancelhas e Embelezamento do Olhar.</p>
      </div>
      <div class="col-lg-4">
        <p>E assim fundou o <em class="doux-visage">Studio Ma&iacute;sa Lima - Design de Sobrancelha e C&iacute;lios!</em> Para isso, realizou diversos cursos e especializações em sobrancelhas e cílios, oferecendo assim, em seu novo espaço, o melhor serviço aos seus clientes.</p>
      </div>
    </div>
  </div>
</section>
